@model Tasks.Data.Queries.HomeViewQuery.Result

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Content/app/shared/taskservice.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/app/tasks/tasksctrl.js")"></script>
    <script>
        (function (app) {
            app.initialData = @Html.ToJson(Model);
        })(window.App);
    </script>
}

<div ng-controller="TasksCtrl">
    <div class="row">
        <p class="lead">Tasks</p>
        <table class="table">
            <tr>
                <th>Task</th>
                <th>Responsible</th>
                <th>Done</th>
                <th></th>
            </tr>
            <tr ng-repeat="item in tasks">
                <td>{{item.task}}</td>
                <td>{{item.responsible}}</td>
                <td><input type="checkbox" ng-click="clickDone($index)" ng-model="item.done" /></td>
                <td><a href ng-click="clickRemove($index)">X</a></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div ng-show="allTasksDone()" class="pull-right">
            <span class="label label-success">
                All tasks done!
            </span>
        </div>
        <div>
            <button class="btn btn-default"
                    ng-hide="addingTask"
                    ng-click="addingTask=true">
                Add task
            </button>
        </div>
        <form ng-show="addingTask"
              ng-submit="addTask()"
              name="addTaskForm">
            <div class="form-group">
                <label class="control-label">Task</label>
                <input class="form-control"
                       type="text"
                       ng-model="task"
                       required />
            </div>
            <div class="form-group">
                <label class="control-label">Responsible</label>
                <select class="form-control"
                        ng-model="responsible"
                        ng-options="p.name for p in people"
                        required>
                    <option value=''>-- Select Responsible --</option>
                </select>
            </div>
            <input class="btn btn-primary"
                   type="submit"
                   value="Save"
                   ng-disabled="addTaskForm.$invalid" />
            <input class="btn btn-default"
                   type="button"
                   value="Cancel" ng-click="cancel()" />
        </form>
    </div>
</div>